<div id="upload" class="container">
    <form [formGroup]="archForm" (ngSubmit)="uploadArch()">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre</label>
          <input formControlName="nombre" type="email" name="nombre" class="form-control" id="formGroupExampleInput" [(ngModel)]="archivo.nombre">
          <div class="alert-danger" *ngIf="nombre?.invalid && (nombre?.dirty ||nombre?.touched )"> 
            <div class="container-error-message" *ngIf="nombre?.errors?.required">
              Nombre is required
            </div>
            <div class="container-error-message" *ngIf="nombre?.errors?.minLength">
              Nombre must be at least 5 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tipo</label>
          <input formControlName="tipo" type="text" name="tipo" class="form-control" id="formGroupExampleInput"  [(ngModel)]="archivo.tipo">
          <div class="alert-danger" *ngIf="tipo?.touched && tipo?.invalid"> 
            <div class="container-error-message" *ngIf="tipo?.errors?.required">
              Tipo is required
            </div>
            <div class="container-error-message" *ngIf="tipo?.errors?.minLength">
              Tipo must be at least 5 characters long.
            </div>
          </div>
        </div>
        <div><input class="btn btn-dark" type="submit" value="Send" style="margin-top: 15px;">
        </div>

      </form>
</div>

<div id="arch" class="container">
  <!--Table-->
<table class="table table-dark table-striped table-hover" style="width: 60%;">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th style="width:10%">Opciones</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table" *ngFor="let arc of arch let f=index">
      <th class="tablenumber"scope="row">{{f+1}}</th>
      <td>{{arc.nombre}}</td>
      <td>{{arc.tipo}}</td>
      <td style="width:10%;">
        <i class="fas fa-eye" data-bs-toggle="modal" style="color: rgb(21, 180, 0);" data-bs-target="#VisualizarDoc"></i>
        <i  id="eliminar" class="fas fa-trash-alt" style="color: rgb(243, 0, 0); margin-left: 20px;" ></i>
      </td>
    </tr>
  </tbody>
  <!--Table body-->


</table>
<!--Table-->
</div>
