<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Little Aplication</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav disp">
          <li class="nav-item active" [routerLink]="['/home/arch']">
            <a class="nav-link" style="cursor: pointer;" >Archivos <span class="sr-only"></span></a>
          </li>
          <li class="nav-item" [routerLink]="['/home/email']">
            <a class="nav-link" style="cursor: pointer;" >Emails <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown dere">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{nomuser}} {{apeluser}} <img src="/assets/img/user.png" alt="main image">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark " style="right: -1rem; left: auto;"aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['/home']">Profile</a></li>
              <li><a class="dropdown-item"[routerLink]="['/home']">Whats New</a></li>
              <li><a class="dropdown-item" href="#" (click)="logout()"> Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

 